{% assign gitalk = site.gitalk.enable %}
{% assign clientID = site.gitalk.client_id %}
{% assign clientSecret = site.gitalk.client_secret %}
{% assign repo = site.gitalk.repo %}
{% assign owner = site.gitalk.owner %}
{% assign admin = site.gitalk.admin %}


{% if gitalk %}
<div id="gitalk-container"></div>
<noscript>Please enable JavaScript to view the <a href="https://github.com/gitalk/gitalk" rel="nofollow">comments powered by gitalk.</a></noscript>
<script type="text/javascript">
  var gitalk = new Gitalk({
      clientID:'{{ clientID }}',
      clientSecret:'{{ clientSecret }}',
      repo:'{{ repo }}',
      owner:'{{ owner }}',
      admin:['{{ admin }}'],
      id: location.pathname,
      distractionFreeMode: false
  })
  gitalk.render('gitalk-container')
</script>
{% endif %}
